<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c{1} %X{sessionId} %X{username} - %m%n" />
    </layout>
  </appender>

  <appender name="appAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="maxFileSize" value="15MB" />
    <param name="maxBackupIndex" value="2" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="File" value="../logs/truconnect.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1} %X{sessionId} %X{username}: %m%n" />
    </layout>
  </appender>

  <appender name="registrationAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="maxFileSize" value="15MB" />
    <param name="maxBackupIndex" value="2" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="File" value="../logs/truconnect_registration.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1} %X{sessionId} %X{username}: %m%n" />
    </layout>
  </appender>

  <category name="com.trc.manager">
    <priority value="TRACE" />
    <appender-ref ref="appAppender" />
  </category>

  <category name="com.trc.manager.webflow">
    <priority value="TRACE" />
    <appender-ref ref="registrationAppender" />
  </category>

  <root>
    <priority value="debug" />
    <appender-ref ref="console" />
  </root>

</log4j:configuration>