<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{sessionId} %X{username} %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/truconnect_logback.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>truconnect_logback.%d{yyyy-MM-dd}.log</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>4MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
    </layout>
  </appender>

  <appender name="DEV_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/devlogger.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>devlogger.%d{yyyy-MM-dd}.log</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>4MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
    </layout>
  </appender>

  <logger name="truconnect" level="ALL">
    <appender-ref ref="ROLLINGFILE" />
  </logger>

  <logger name="devLogger" level="ALL">
    <appender-ref ref="DEV_ROLLINGFILE" />
  </logger>

  <root>
    <appender-ref ref="STDOUT" />
  </root>

</configuration>